In [28]:
import pandas as pd
import numpy as np

In [45]:
df = pd.read_csv('./validation.csv')
df

,video_id,date,scene_id,category_id,category_name,occupant_id,occupant_sex,occupant_age,occupant_position,data_length,...,b_bbox1,b_bbox2,b_bbox3,b_bbox4,f_bbox1,f_bbox2,f_bbox3,f_bbox4,action,emotion
0,SGA5100028,20211111,SGA5100028S0074,A004,통화,occupant1,M,30대,front,5,...,449.63999,82.600000,830.76001,636.200000,700.83999,97.000000,261.16001,271.400000,운전하다,중립
1,SGA5100028,20211111,SGA5100028S0074,A004,통화,occupant1,M,30대,front,5,...,416.03999,82.600000,867.56001,639.400000,698.60000,89.000000,263.40000,276.200000,무언가를쥐다,중립
2,SGA5100028,20211111,SGA5100028S0074,A004,통화,occupant1,M,30대,front,5,...,409.00000,85.800000,871.40000,628.200000,589.80000,98.600000,295.40000,306.600000,고개를돌리다,중립
3,SGA5100028,20211111,SGA5100028S0074,A004,통화,occupant1,M,30대,front,5,...,415.40000,87.400000,866.60000,628.200000,660.20000,81.000000,300.20000,297.000000,무언가를쥐다,중립
4,SGA5100028,20211111,SGA5100028S0074,A004,통화,occupant1,M,30대,front,5,...,425.00000,92.200000,847.40000,628.200000,690.60000,92.200000,268.20000,284.200000,운전하다,중립
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252472,SGA5100053,20211111,SGA5100053S0063,A004,통화,occupant1,M,30대,front,5,...,396.20000,39.427022,885.80000,682.572978,676.20000,53.815644,270.43999,311.400000,운전하다,중립
252473,SGA5100053,20211111,SGA5100053S0063,A004,통화,occupant1,M,30대,front,5,...,372.20000,49.044089,858.60000,672.955911,676.20000,68.217067,274.60000,306.571272,핸드폰귀에대기,중립
252474,SGA5100053,20211111,SGA5100053S0063,A004,통화,occupant1,M,30대,front,5,...,354.60000,29.804267,927.40000,692.195733,674.60000,63.398578,283.23999,321.000000,핸드폰귀에대기,중립
252475,SGA5100053,20211111,SGA5100053S0063,A004,통화,occupant1,M,30대,front,5,...,346.60000,18.607111,935.40000,703.392889,671.40000,49.007111,278.43999,330.576961,핸드폰귀에대기,중립
252476,SGA5100053,20211111,SGA5100053S0063,A004,통화,occupant1,M,30대,front,5,...,364.20000,42.622756,908.20000,679.377244,679.40000,66.611378,284.20000,311.374117,운전하다,중립

In [46]:
df[['category_id', 'category_name']].value_counts() # 둘이 동일함, 중복되는 게 없음

category_id  category_name
A002         음주운전             75255
A003         물건찾기             59919
A004         통화               48934
A006         차량제어             37685
A005         휴대폰조작            30644
A001         졸음운전                40
dtype: int64

In [47]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

df['category_id'] = le.fit_transform(df['category_name'])
print('category_name :', le.classes_)
df.drop(columns='category_name', inplace=True) # 중복되므로 삭제

category_name : ['물건찾기' '음주운전' '졸음운전' '차량제어' '통화' '휴대폰조작']

In [48]:
df['occupant_sex'] = le.fit_transform(df['occupant_sex'])
print('occupant_sex :', le.classes_)

occupant_sex : ['F' 'M']

In [49]:
df['occupant_age'].unique()

array(['30대', '40대', '20대', '기타'], dtype=object)

In [50]:
df['occupant_age'] = df['occupant_age'].apply(lambda x: '0' if x == '기타' else x) # '기타' 0으로 변경
df['occupant_age'] = df['occupant_age'].apply(lambda x: x[:-1] if x != '0' else x) # '30대'에서 '대' 삭제
df['occupant_age'] = df['occupant_age'].astype(np.int64) # int로 타입 변경
df['occupant_age'].unique()

array([30, 40, 20,  0])

In [53]:
df['occupant_position'].unique()

array(['front', nan, 'back'], dtype=object)

In [54]:
df['data_length'].unique() # 이미지 길이 4,5만 존재

array([5, 4])

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252477 entries, 0 to 252476
Data columns (total 20 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   video_id           252477 non-null  object
 1   date               252477 non-null  int64
 2   scene_id           252477 non-null  object
 3   category_id        252477 non-null  int64
 4   occupant_id        252477 non-null  object
 5   occupant_sex       252477 non-null  int64
 6   occupant_age       252477 non-null  int64
 7   occupant_position  252222 non-null  object
 8   data_length        252477 non-null  int64
 9   img_id             252477 non-null  object
 10  b_bbox1            252477 non-null  float64
 11  b_bbox2            252477 non-null  float64
 12  b_bbox3            252477 non-null  float64
 13  b_bbox4            252477 non-null  float64
 14  f_bbox1            252477 non-null  float64
 15  f_bbox2            252477 non-null  float64
 16  f_bbox3            252477 non-null  float64
 17  f_bbox4            252477 non-null  float64
 18  action             252477 non-null  object
 19  emotion            252477 non-null  object
dtypes: float64(8), int64(5), object(7)
memory usage: 38.5+ MB

In [ ]:
# action, emotion 원핫 인코딩으로 변환 후
# scene_id 또는 video_id로 묶어서 분포에 따라 데이터 분리할 지 결정

In [ ]:
# 그리고 occupant_position에 nan 값 확인